body {
    margin: 0;
    background: black;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

h3 {
    color: orange
}

.score {
    display: flex;
    align-content: center;
    justify-content: center;
    background: black;
    color: white;
    margin: auto;
    height: 50px;
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: orange
}

.buttons {
    margin-top: 20px;
}

button {
    background: black;
    color: white;
    border-color: orange;
    border-radius: 5px;
    
}